/* Printing styles derived from h5bp v3.0.2 and http://www.alistapart.com/articles/boom */

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@import "blueprint/print";

@media print {
    * {
      @include blueprint-print-body;
      background: transparent !important;
      color: black !important;
      box-shadow: none !important;
      text-shadow: none !important;
      filter: none !important;
      -ms-filter: none !important; }
  /* Black prints faster: h5bp.com/s */
  abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after {
      content: ""; }
  a {
      &[href^="javascript:"]:after, &[href^="#"]:after {
	  content: ""; } }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
      border: 1px solid #999;
      page-break-inside: avoid; }
  thead {
      display: table-header-group; }
  /* h5bp.com/t */
  tr {
      page-break-inside: avoid; }
  img {
      page-break-inside: avoid;
      max-width: 100% !important; }

  p, h2, h3 {
      orphans: 3;
      widows: 3; }
  h2, h3 {
      page-break-after: avoid; }

  h1 { string-set: header content(); }

  @page {
      // A4 document
      size:A4 portrait;
//      margin: 2cm; 
      
      @top-right { content: "test" }
  }

  
}